body{
    background:#FFFF;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
   
}
::-webkit-scrollbar {
    width: 13px;
    height: 637px;
    border-radius: 4px;
}

::-webkit-scrollbar-track{
    background: #FFFF;
}
::-webkit-scrollbar-thumb{
    background: rgba(58, 79, 154, 0.3);
    border-radius: 4px;   
}
#header{
    margin-top: -23px;
    margin-left: -23px;
    padding: 15px 79px;
    background: #32325D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 30px;
    position: fixed;

   
}
.header-detail-pag{
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    padding: 15px 79px;
    background: #32325D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 3;
}

.header-detail-pag img{
    position: relative;
    left: -13px;
}
.header-detail-pag h3{
    position: absolute;
    left: 107px;
    top: -8px;
    color: #FFFF;
    font-family: 'Inter var', sans-serif;
    width: 66px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;      
}
#blogtext{
    font-family: 'Inter var', sans-serif;
    width: 66px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    position: absolute;
    left: 120px;
    top: -8px;
    color: #FFFF;    
}
#main-title{
    color: #3A4F9A;
    text-decoration: underline;
    text-underline-offset: 1rem;
    padding-top: 150px;
    padding-left: 60px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Inter var', sans-serif;
}

.card{
  margin: 25px;
  width: 409px;
  height: 455px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;   
}
.card img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card h3{
    padding-left: 20px;
    color: #3A4F9A;   
}
.card p {
    padding: 0px 20px;
    color: #575757;    
}
.card-click{
    text-decoration: none;
}

.card a{
    padding-left: 300px;
    color: #3A4F9A;
    text-decoration: none;   
}
.content-detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Inter var', sans-serif;
    position: relative;
    z-index: 1;
    transform: translateX(25%);
    margin-block: 20px 50px;    
}
.back-button{
    height: 65px;
    width: 65px;
    margin-top: 97px;
    margin-left: 47px;
    border-radius: 60%;
    border: none;
    background-color: #32325D;
    cursor: pointer;
    position: relative;
    z-index: 2;    
}
.full-card{
    margin-top: -70px;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}
.full-card img{
    width: 100%;
    height: 55%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.full-card h2{
    padding-left: 20px;
    color: #3A4F9A;
}
.full-card p{
    padding: 0px 20px;
    color: #575757; 
}
.comments{
    margin-right: 200px;
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    min-width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}